click==8.3.1
click-shell==2.1
-e git+ssh://git@github.com/dischmidt/elsterctl.git@8d3d4fd96a3f9671260d9abd0ce9d7e35f3d12ed#egg=elsterctl
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
python-dotenv==1.2.1
